<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19603075583-d8eutqdn957od7veesggt4d1morkpuak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19603075583-d8eutqdn957od7veesggt4d1morkpuak</string>
	<key>API_KEY</key>
	<string>AIzaSyA9GN5PBHOZDHt3QjBacPRDaNxWRVxuRC4</string>
	<key>GCM_SENDER_ID</key>
	<string>19603075583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.face.magic</string>
	<key>PROJECT_ID</key>
	<string>haudoanbisap</string>
	<key>STORAGE_BUCKET</key>
	<string>haudoanbisap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19603075583:ios:92eed96acf1ffd55</string>
	<key>DATABASE_URL</key>
	<string>https://haudoanbisap.firebaseio.com</string>
</dict>
</plist>